{{> header}}
<div id="notfound" class="section-container">
  <h2>
    404 | 🤔 Izskatās, ka kāds atkal ir ievadījis nepareizu saiti...
  </h2>
  <a class="back-to-home" href="https://docs.astkh.cc/">
    ← Pamēģināt vēlreiz
  </a>
</div>
{{> footer}}