{{> header}}
<section id="banned" class="section-container">
  <h2>
    Saite ir bloķēta un noņemta, jo tā satur 
    <span class="bold underline">ļaunatūru vai krāpniecisku saturu</span>.
  </h2>
  <h4>
    Ja pamanījāt ļaunatūras vai krāpniecisku saiti, kas saīsināta ar {{default_domain}}, 
    <a href="/report" title="Send report">
      nosūtiet mums ziņojumu
    </a>.
  </h4>
</section>
{{> footer}}