{{> header}}
<section id="protected" class="section-container">
  <h2>
    Aizsargāta saite.
  </h2>
  <p>
    Ievadiet paroli, lai atvērtu saiti.
  </p>
  {{> protected/form}}
</section>
{{> footer}}