{{> header}}
<section id="report" class="section-container">
  <h2>
    Ziņot par pārkāpumu.
  </h2>
  <p>
  Ziņojiet par pārkāpumiem, ļaunatūru vai pikšķerēšanas saitēm uz zemāk norādīto e-pasta adresi {{#if mail_enabled}}vai izmantojiet formu{{/if}}.
    Mēs izskatīsim ziņojumu pēc iespējas ātrāk.
  </p>
  {{> report/email}}
  {{#if mail_enabled}}
    {{> report/form}}
  {{/if}}
</section>
{{> footer}}