{{> header}}
<section 
  id="new-password"
  class="section-container {{#unless token_verified}}verify-page{{/unless}}"
>
  {{#if token_verified}}
    <h2>
      Atiestatīt paroli.
    </h2>
    <p>Iestati savu jauno paroli.</p>
    {{> reset_password/new_password_form}}
  {{else}}
    <h2>
      {{> icons/x}}
      Paroles atiestatīšanas saite nav derīga. Lūdzu, mēģini vēlreiz.
    </h2>
    <a href="/reset-password" title="Reset password">Atiestatīt paroli →</a>
  {{/if}}
</section>
{{> footer}}