{{> header}}
<section id="reset-password" class="section-container">
  <h2>
    Atiestatīt paroli.
  </h2>
  <p>
    Ja aizmirsi paroli, vari izmantot zemāk esošo formu, lai saņemtu
    paroles atiestatīšanas saiti.
  </p>
  {{> reset_password/request_form}}
</section>
{{> footer}}