{{> header}}
<section id="verify" class="section-container verify-page">
  {{#if token_verified}}
    <h2 hx-get="/" hx-trigger="load delay:1s" hx-target="body" hx-push-url="/">
      Tavs konts ir pārbaudīts. Notiek pāradresācija uz sākumlapu...
    </h2>
  {{else}}
    <h2>
      {{> icons/x}}
      Verifikācija nav derīga. Lūdzu, mēģini vēlreiz.
    </h2>
    <a href="/login" title="Log in or sign up">Pieslēgties / reģistrēties →</a>
  {{/if}}
</section>
{{> footer}}