{{#unless users}}
  {{#ifEquals users.length 0}}
    <tr class="no-data">
      <td>
        Lietotāju nav.
      </td>
    </tr>
  {{else}}
    <tr class="loading-placeholder">
      <td>
        {{> icons/spinner}}
        Notiek lietotāju ielāde...
      </td>
    </tr>
  {{/ifEquals}}
{{/unless}}