<div class="content">
  <div class="icon success">
    {{> icons/check}}
  </div>
  <p>
    Lietotājs <b>"{{email}}"</b> ir bloķēts.
  </p>
  <div class="buttons">
    <button type="button" hx-on:click="closeDialog()">Aizvērt</button>
  </div>
</div>

