{{#unless links}}
  {{#ifEquals links.length 0}}
    <tr class="no-data">
      <td>
        Saišu nav.
      </td>
    </tr>
  {{else}}
    <tr class="loading-placeholder">
      <td>
        {{> icons/spinner}}
        Notiek saišu ielāde...
      </td>
    </tr>
  {{/ifEquals}}
{{/unless}}