<div class="content">
  <div class="icon success">
    {{> icons/check}}
  </div>
  <p>
    Tavs domēns <b>"{{address}}"</b> ir dzēsts.
  </p>
  <div class="buttons">
    <button type="button" hx-on:click="closeDialog()">Aizvērt</button>
  </div>
</div>
{{> settings/domain/table}}