<div class="content">
  <h2>Bloķēt saiti?</h2>
  <p>
    Vai tiešām vēlies bloķēt saiti &quot;<b>{{link}}</b>&quot;?
  </p>
  <div class="ban-checklist">
    <label class="checkbox">
      <input id="user" name="user" type="checkbox" />
      Lietotājs
    </label>
    <label class="checkbox">
      <input id="userLinks" name="userLinks" type="checkbox" />
      Lietotāja saites
    </label>
    <label class="checkbox">
      <input id="host" name="host" type="checkbox" />
      Hosts
    </label>
    <label class="checkbox">
      <input id="domain" name="domain" type="checkbox" />
      Domēns
    </label>
  </div>
  <div class="buttons">
    <button type="button" hx-on:click="closeDialog()">Atcelt</button>
    <button 
      type="button"
      class="danger confirm" 
      hx-post="/api/links/admin/ban/{id}" 
      hx-ext="path-params" 
      hx-vals='{"id":"{{id}}"}' 
      hx-target="closest .content" 
      hx-swap="none" 
      hx-include=".ban-checklist"
      hx-indicator="closest .content"
      hx-select-oob="#dialog-error"
    >
      <span class="stop">
        {{> icons/stop}}
      </span>
      Bloķēt
    </button>
    {{> icons/spinner}}
  </div>
  <div id="dialog-error">
    {{#if error}}
      <p class="error">{{error}}</p>
    {{/if}}
  </div>
</div>