<div class="content">
  <div class="icon success">
    {{> icons/check}}
  </div>
  <p>
    Saite <b>"{{link}}"</b> ir bloķēta.
  </p>
  <div class="buttons">
    <button type="button" hx-on:click="closeDialog()">Close</button>
  </div>
</div>

