<div class="content">
  <div class="icon success">
    {{> icons/check}}
  </div>
  <p>
    Tava saite <b>"{{link}}"</b> ir dzēsta.
  </p>
  <div class="buttons">
    <button type="button" hx-on:click="closeDialog()">Aizvērt</button>
  </div>
</div>

